@charset "utf-8";
@import url( http://fonts.googleapis.com/css?family=Cousine );




#editor-open {
	
	position: absolute;
	top:   2rem;
	right: 2rem;
	background-image: url( ../media/buttons/editor-open.svg );
}
#editor-open:hover {

	background-image: url( ../media/buttons/editor-open-hover.svg );
}




#editor-container {

	position: absolute;
	z-index: 30;
	top:   0;
	/*right:  -60vw;*/
	width:   50vw;
	height: 100vh;
	box-shadow: 0 0 1rem rgba( 0, 0, 0, 0.3 );
	text-align: left;
	overflow: hidden;
/*	transition-property: right, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;*/
	display: none;
	right: 0;
}
#editor-container.show {

	display: table;
/*	right:  0;
	transition-property: right;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;*/
}
#editor-container > div {

	display: table-row;
	position: relative;
}
#editor-container > div > div {

	display: table-cell;
	position: relative;
}





#editor-menu {

	width: 50vw;
	height: 8rem;
	background-color: #DDD;	
}
#editor-menu > div {

	width: 100%;
	height: 8rem;
	padding: 1rem 0 0 2rem;
	font-size:   1.5rem;
	line-height: 6.0rem;
	text-align: left;
	font-family: "Cousine", "Courier New" "Courier", monospace;
	color: #000;
}
#editor-close {

	position: absolute;
	top:   2rem;
	right: 2rem;
	background-image: url( ../media/buttons/editor-close.svg );
}
#editor-close:hover {

	background-image: url( ../media/buttons/editor-close-hover.svg );
}
#editor-apply {

	position: absolute;
	top:   2rem;
	right: 7rem;
	background-image: url( ../media/buttons/apply.svg );
}
#editor-apply:hover {

	background-image: url( ../media/buttons/apply-hover.svg );
}




#editor-content {

	margin: 0;
	padding: 0;
	height: 100%;
}
#editor {

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width:  100%;
	height: 100%;

	/*  

		This was driving me absolutely insane:
		The Textarea was set at 100% width and height, etc. but still left
		a small gap at the bottom as if I’d set a bottom margin.
		These next 5 lines below solved it.

	*/
	position: absolute;
	top:    0;
	bottom: 0;
	left:   0;
	right:  0;

	outline: none;
	border:  none;
	border-radius: 0;
	background-color: #EEE;
	padding: 2rem;
	color: #222;
	font-family: Cousine, "Courier New" Courier, monospace;
	font-size:   1.0vw;
	line-height: 1.2vw;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre;
	overflow: auto;
	resize: none;
	overflow: auto;
}
#editor:focus {

	background-color: #FFF;
}




#eval-status {

	height: 1rem;
	background-color: #666;
}
#eval-status.good {

	background-color: #0C0;
}
#eval-status.bad {

	background-color: #F30;
}
#eval-status.ugly {

	background-color: #FC0;
}



