@charset "utf-8";




    /************************/
   /*                      */
  /*   Triggers NATURAL   */
 /*                      */
/************************/


.trigger-container {
	
	z-index: 10;
	position: relative;
	display: inline-block;
	margin: 0 1px 0 1px;
	width:  6rem;
	height: 0;/*  Will equal 33rem, but if I set that here then unnaturals block mouseover for naturals! */
	text-align: center;
	font-size:   2rem;
	line-height: 3rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.trigger-container.engaged {

	z-index: 11;
}
.trigger-container .note-name {

	position: absolute;
	top:   4rem;
	width: 6rem;
	text-align: center;
	color: transparent;
	font-size: 1.5rem;
	font-weight: 100;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.trigger-container .note-name strong {

	font-size: 3rem;
	font-weight: normal;
}
.trigger-container.engaged .note-name {

	color: #FFF;
	transition-property: color;
	transition-duration: 0.0s;
	transition-timing-function: linear;
}
.trigger-container .trigger {

	z-index: 10;
	position: absolute;
	top: 9rem;
	border-bottom-left-radius:  0.5rem;
	border-bottom-right-radius: 0.5rem;
	width:   6rem;
	height: 24rem;
	background-color: #999;
	font-size:   2rem;
	line-height: 3rem;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.trigger-container.engaged .trigger {

	background-color: #FFF;
	transition-property: background-color;
	transition-duration: 0.0s;
	transition-timing-function: linear;
}
.trigger-container .chars-list {

	position: absolute;
	bottom: 2rem;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 2rem;
}
.trigger-container.engaged .chars-list {

	color: transparent;
}




    /**************************/
   /*                        */
  /*   Triggers UNNATURAL   */
 /*                        */
/**************************/


.trigger-container.unnatural {

	z-index: 20;
	width: 4rem;
}
.trigger-container.unnatural + .trigger-container.natural {

	margin-left: -2rem;
}
.trigger-container.natural + .trigger-container.unnatural {

	margin-left: -2rem;
}
.trigger-container.unnatural .note-name {

	top:   0;
	width: 4rem;
}
.trigger-container.unnatural .trigger {

	width:   4rem;
	height: 14rem;
	background-color: #000;
	color: #999;
}
.trigger-container.unnatural.engaged .trigger {

	z-index: 21;
	background-color: #FFF;
}
.trigger-container.unnatural .chars-list {

	color: #FFF;
}




    /*********************/
   /*                   */
  /*   Triggers MINI   */
 /*                   */
/*********************/


.mini .trigger-container {
	
	width: 3rem;
}
.mini .trigger-container .trigger {

	top:     6rem;
	width:   3rem;
	height: 12rem;
	font-size:   1.0rem;
	line-height: 1.5rem;
}
.mini .trigger-container.unnatural + ( .mini .trigger-container.natural ){

	margin-left: -1rem;
}
.mini .trigger-container.natural + .trigger-container.unnatural {

	margin-left: -1rem;
}
.mini .trigger-container .note-name {

	top:   2rem;
	width: 3rem;
	font-size: 0.75rem;
}
.mini .trigger-container .note-name strong {

	font-size: 1.5rem;
}
.mini .trigger-container.unnatural .note-name {

	top: 0;
	width: 1.5rem;
}
.mini .trigger-container.unnatural .trigger {

	/*top:   -5rem;*/
	width:  2rem;
	height: 7rem;
}
.mini .trigger-container .chars-list {

	bottom:    1rem;
	font-size: 1rem;	
}




    /************************/
   /*                      */
  /*   Triggers RAINBOW   */
 /*                      */
/************************/


.rainbow .trigger-container.unnatural .trigger {

	border: 2px solid #111;
	border-top: none;
}

/*  A♭  */.rainbow .name-index-0  .trigger { background-color: hsl( 247, 100%, 15% ); }
/*  A   */.rainbow .name-index-1  .trigger { background-color: hsl( 270, 100%, 15% ); }
/*  B♭  */.rainbow .name-index-2  .trigger { background-color: hsl( 292, 100%, 15% ); }
/*  B   */.rainbow .name-index-3  .trigger { background-color: hsl( 315, 100%, 15% ); }
/*  C   */.rainbow .name-index-4  .trigger { background-color: hsl(   0, 100%, 15% ); }
/*  C♯  */.rainbow .name-index-5  .trigger { background-color: hsl(  23, 100%, 15% ); }
/*  D   */.rainbow .name-index-6  .trigger { background-color: hsl(  45, 100%, 15% ); }
/*  E♭  */.rainbow .name-index-7  .trigger { background-color: hsl(  67, 100%, 15% ); }
/*  E   */.rainbow .name-index-8  .trigger { background-color: hsl(  90, 100%, 15% ); }
/*  F   */.rainbow .name-index-9  .trigger { background-color: hsl( 180, 100%, 15% ); }
/*  F♯  */.rainbow .name-index-10 .trigger { background-color: hsl( 203, 100%, 15% ); }
/*  G   */.rainbow .name-index-11 .trigger { background-color: hsl( 225, 100%, 15% ); }

/*  A♭  */.rainbow .engaged.name-index-0  .trigger { background-color: hsl( 247, 100%, 50% ); }
/*  A   */.rainbow .engaged.name-index-1  .trigger { background-color: hsl( 270, 100%, 50% ); }
/*  B♭  */.rainbow .engaged.name-index-2  .trigger { background-color: hsl( 292, 100%, 50% ); }
/*  B   */.rainbow .engaged.name-index-3  .trigger { background-color: hsl( 315, 100%, 50% ); }
/*  C   */.rainbow .engaged.name-index-4  .trigger { background-color: hsl(   0, 100%, 50% ); }
/*  C♯  */.rainbow .engaged.name-index-5  .trigger { background-color: hsl(  23, 100%, 50% ); }
/*  D   */.rainbow .engaged.name-index-6  .trigger { background-color: hsl(  45, 100%, 50% ); }
/*  E♭  */.rainbow .engaged.name-index-7  .trigger { background-color: hsl(  67, 100%, 50% ); }
/*  E   */.rainbow .engaged.name-index-8  .trigger { background-color: hsl(  90, 100%, 50% ); }
/*  F   */.rainbow .engaged.name-index-9  .trigger { background-color: hsl( 180, 100%, 50% ); }
/*  F♯  */.rainbow .engaged.name-index-10 .trigger { background-color: hsl( 203, 100%, 50% ); }
/*  G   */.rainbow .engaged.name-index-11 .trigger { background-color: hsl( 225, 100%, 50% ); }

/*  A♭  */.rainbow .engaged.name-index-0  .note-name { color: hsl( 247, 100%, 50% ); }
/*  A   */.rainbow .engaged.name-index-1  .note-name { color: hsl( 270, 100%, 50% ); }
/*  B♭  */.rainbow .engaged.name-index-2  .note-name { color: hsl( 292, 100%, 50% ); }
/*  B   */.rainbow .engaged.name-index-3  .note-name { color: hsl( 315, 100%, 50% ); }
/*  C   */.rainbow .engaged.name-index-4  .note-name { color: hsl(   0, 100%, 50% ); }
/*  C♯  */.rainbow .engaged.name-index-5  .note-name { color: hsl(  23, 100%, 50% ); }
/*  D   */.rainbow .engaged.name-index-6  .note-name { color: hsl(  45, 100%, 50% ); }
/*  E♭  */.rainbow .engaged.name-index-7  .note-name { color: hsl(  67, 100%, 50% ); }
/*  E   */.rainbow .engaged.name-index-8  .note-name { color: hsl(  90, 100%, 50% ); }
/*  F   */.rainbow .engaged.name-index-9  .note-name { color: hsl( 180, 100%, 50% ); }
/*  F♯  */.rainbow .engaged.name-index-10 .note-name { color: hsl( 203, 100%, 50% ); }
/*  G   */.rainbow .engaged.name-index-11 .note-name { color: hsl( 225, 100%, 50% ); }







